@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
.no-scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.no-scrollbar::-webkit-scrollbar-track {
  background: #e6e6e6;
}

/* Handle */
.no-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(202, 194, 194);
  border-radius: 10px;
}

/* Handle on hover */
.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(180, 180, 180);
}
